body {
	padding: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#wordcontainer {
	background-color: #5cb85c;
}

#lettercontainer {
	background-color: #5bc0de;
}


[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#wordlist {
    list-style: none;
 padding-left: 0;
    font-size: 24px;
    font-weight: bold;
}

.letter {
  height: 48px;
  width: 48px;
  font-size: 24px;
  padding-top: 6px;
	font-weight: bold;
  border: 2px solid #000;
  background-color: #FFF;
  margin-right: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: move;
}

.letter:hover{
	background-color: #f0ad4e;
	color: #FFF;
}

#word, #letters{
	display: inline-block;
}

.fade{
	opacity: '0.4';
}

.over{
	border: 2px dashed #000;
}

.btn {
	margin: 10px;
}

.jumbotron.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;

	background-color: #FFF;
	margin:0;
	padding: 0;
}